body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    flex: 1;
    padding: 2%;
}
.logo{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    width: 200px;

}
.header ul{
    display: flex;
    color: #E5E7EB;
    font-size: 10px;
    justify-content: space-between;
    width: 50%;
} 
.img_grid{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    gap: 10px;
    width: 90%;
}
.ig img{
    border: 2px solid transparent;
    border-color: blue;
    border-radius: 20px;
    padding: 0px;
    border-image: 10 round;
    object-fit: contain;
    width: 100px;

}

li{
    list-style: none;
    width: 170px;
    margin-left: 0%;
}
.cont1{
    background-color: #1F2937;
    flex: 1;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 5%;
}
.cont1 img{
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 0px;
    border-image: 10 round;
    object-fit: contain;
    width: 100px;
}
.cont1 .para{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.cont1 .para .para1{
    font-size: 18px;
    font-weight: 700;
    width: 70%;
}
.cont1 .para .para2{
    font-size: 10px;
    width: 80%;
}
.cont2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.main_header{
    font-size: 30px;
    font-weight: 900;
    color: #1F2937;
}
.cont3{
    background-color:#E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}
.cont3 .para1{
    display: flex;
    align-items: center;
    margin: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 15px;
}
.cont3 .unders{
    font-size: 15px;
    font-weight: 900;
    margin-left: 25%;
}
.cont4{
    
    display: flex;
    width: 80%;
    margin-left: 5%;
    padding: 5%;
    color: #F9FAF8;


}
.cont4_1{
    padding: 5%;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    flex: 1;
}
.cont4_int{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}
.cont4_int .para1{
  font-size: 15px; 
  font-weight: 600; 
}
.cont4_int .para2{
    font-size: 10px;
}
.footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9FAF8;
}
button{
    background-color: #3882f6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}